main .secCon form .selectContacto, main .secTurnos table .selecTurnos {
  background-color: rgb(255, 195, 214);
  font-size: 1rem;
  text-align: center;
}

@media (min-width: 0) {
  footer .divRedes a {
    width: 100px;
  }
}
@media (min-width: 480px) {
  footer .divRedes a {
    width: 120px;
  }
}
@media (min-width: 720px) {
  footer .divRedes a {
    width: 150px;
  }
}
@media (min-width: 960px) {
  footer .divRedes a {
    width: 180px;
  }
}
@media (min-width: 1200px) {
  footer .divRedes a {
    width: 200px;
  }
}

@media (min-width: 0) {
  main .secCon form {
    width: 90%;
  }
}
@media (min-width: 480px) {
  main .secCon form {
    width: 70%;
  }
}
@media (min-width: 720px) {
  main .secCon form {
    width: 60%;
  }
}
@media (min-width: 960px) {
  main .secCon form {
    width: 55%;
  }
}
@media (min-width: 1200px) {
  main .secCon form {
    width: 50%;
  }
}

@media (min-width: 0) {
  main .secJav {
    padding: 5px;
  }
}
@media (min-width: 480px) {
  main .secJav {
    padding: 10px;
  }
}
@media (min-width: 720px) {
  main .secJav {
    padding: 15px;
  }
}
@media (min-width: 960px) {
  main .secJav {
    padding: 20px;
  }
}
@media (min-width: 1200px) {
  main .secJav {
    padding: 25px;
  }
}

main .secInicio h2, main .titPrin {
  text-align: center;
  font-size: 2.5rem;
  color: white;
  text-shadow: 3px 3px 0px black, 2px 2px 0px black, 1px 1px 0px black;
  text-decoration: underline;
  letter-spacing: 1px;
}

@media (min-width: 0) {
  main .secInicio p {
    font-size: 1rem;
  }
}
@media (min-width: 480px) {
  main .secInicio p {
    font-size: 2rem;
  }
}
@media (min-width: 720px) {
  main .secInicio p {
    font-size: 1.8rem;
  }
}
@media (min-width: 960px) {
  main .secInicio p {
    font-size: 1.4rem;
  }
}
@media (min-width: 1200px) {
  main .secInicio p {
    font-size: 1.2rem;
  }
}

@media (min-width: 0) {
  main .secGal .divGal .foto {
    width: 90%;
  }
}
@media (min-width: 480px) {
  main .secGal .divGal .foto {
    width: 90%;
  }
}
@media (min-width: 720px) {
  main .secGal .divGal .foto {
    width: 85%;
  }
}
@media (min-width: 960px) {
  main .secGal .divGal .foto {
    width: 45%;
  }
}
@media (min-width: 1200px) {
  main .secGal .divGal .foto {
    width: 45%;
  }
}

main .secCon form input, main .secCon form textarea, main .secCon form select {
  background-color: rgb(255, 195, 214);
  text-align: center;
}

main .secCon form input:checked, main .secCon form textarea:checked, main .secCon form input:focus, main .secCon form textarea:focus {
  color: black;
  background-color: rgb(255, 195, 214);
}

@-webkit-keyframes fondo_h_f {
  0% {
    background: linear-gradient(122deg, rgb(254, 223, 223) 0%, rgb(255, 195, 214) 5%, rgb(255, 158, 190) 10%, rgb(250, 111, 155) 15%, rgb(250, 111, 155) 20%, rgb(250, 111, 155) 25%, rgb(250, 111, 155) 30%, rgb(250, 111, 155) 35%, rgb(250, 111, 155) 40%, rgb(250, 111, 155) 45%, rgb(250, 111, 155) 50%, rgb(250, 111, 155) 55%, rgb(250, 111, 155) 60%, rgb(250, 111, 155) 65%, rgb(250, 111, 155) 70%, rgb(250, 111, 155) 75%, rgb(250, 111, 155) 80%, rgb(250, 111, 155) 85%, rgb(250, 111, 155) 90%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 100%);
  }
  2% {
    background: linear-gradient(122deg, rgb(255, 195, 214) 0%, rgb(254, 223, 223) 5%, rgb(255, 195, 214) 10%, rgb(255, 158, 190) 15%, rgb(250, 111, 155) 20%, rgb(250, 111, 155) 25%, rgb(250, 111, 155) 30%, rgb(250, 111, 155) 35%, rgb(250, 111, 155) 40%, rgb(250, 111, 155) 45%, rgb(250, 111, 155) 50%, rgb(250, 111, 155) 55%, rgb(250, 111, 155) 60%, rgb(250, 111, 155) 65%, rgb(250, 111, 155) 70%, rgb(250, 111, 155) 75%, rgb(250, 111, 155) 80%, rgb(250, 111, 155) 85%, rgb(250, 111, 155) 90%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 100%);
  }
  7% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(255, 195, 214) 5%, rgb(254, 223, 223) 10%, rgb(255, 195, 214) 15%, rgb(255, 158, 190) 20%, rgb(250, 111, 155) 25%, rgb(250, 111, 155) 30%, rgb(250, 111, 155) 35%, rgb(250, 111, 155) 40%, rgb(250, 111, 155) 45%, rgb(250, 111, 155) 50%, rgb(250, 111, 155) 55%, rgb(250, 111, 155) 60%, rgb(250, 111, 155) 65%, rgb(250, 111, 155) 70%, rgb(250, 111, 155) 75%, rgb(250, 111, 155) 80%, rgb(250, 111, 155) 85%, rgb(250, 111, 155) 90%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 100%);
  }
  12% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(255, 158, 190) 5%, rgb(255, 195, 214) 10%, rgb(254, 223, 223) 15%, rgb(255, 195, 214) 20%, rgb(255, 158, 190) 25%, rgb(250, 111, 155) 30%, rgb(250, 111, 155) 35%, rgb(250, 111, 155) 40%, rgb(250, 111, 155) 45%, rgb(250, 111, 155) 50%, rgb(250, 111, 155) 55%, rgb(250, 111, 155) 60%, rgb(250, 111, 155) 65%, rgb(250, 111, 155) 70%, rgb(250, 111, 155) 75%, rgb(250, 111, 155) 80%, rgb(250, 111, 155) 85%, rgb(250, 111, 155) 90%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 100%);
  }
  17% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(255, 158, 190) 10%, rgb(255, 195, 214) 15%, rgb(254, 223, 223) 20%, rgb(255, 195, 214) 25%, rgb(255, 158, 190) 30%, rgb(250, 111, 155) 35%, rgb(250, 111, 155) 40%, rgb(250, 111, 155) 45%, rgb(250, 111, 155) 50%, rgb(250, 111, 155) 55%, rgb(250, 111, 155) 60%, rgb(250, 111, 155) 65%, rgb(250, 111, 155) 70%, rgb(250, 111, 155) 75%, rgb(250, 111, 155) 80%, rgb(250, 111, 155) 85%, rgb(250, 111, 155) 90%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 100%);
  }
  22% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(250, 111, 155) 10%, rgb(255, 158, 190) 15%, rgb(255, 195, 214) 20%, rgb(254, 223, 223) 25%, rgb(255, 195, 214) 30%, rgb(255, 158, 190) 35%, rgb(250, 111, 155) 40%, rgb(250, 111, 155) 45%, rgb(250, 111, 155) 50%, rgb(250, 111, 155) 55%, rgb(250, 111, 155) 60%, rgb(250, 111, 155) 65%, rgb(250, 111, 155) 70%, rgb(250, 111, 155) 75%, rgb(250, 111, 155) 80%, rgb(250, 111, 155) 85%, rgb(250, 111, 155) 90%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 100%);
  }
  27% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(250, 111, 155) 10%, rgb(250, 111, 155) 15%, rgb(255, 158, 190) 20%, rgb(255, 195, 214) 25%, rgb(254, 223, 223) 30%, rgb(255, 195, 214) 35%, rgb(255, 158, 190) 40%, rgb(250, 111, 155) 45%, rgb(250, 111, 155) 50%, rgb(250, 111, 155) 55%, rgb(250, 111, 155) 60%, rgb(250, 111, 155) 65%, rgb(250, 111, 155) 70%, rgb(250, 111, 155) 75%, rgb(250, 111, 155) 80%, rgb(250, 111, 155) 85%, rgb(250, 111, 155) 90%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 100%);
  }
  32% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(250, 111, 155) 10%, rgb(250, 111, 155) 15%, rgb(250, 111, 155) 20%, rgb(255, 158, 190) 25%, rgb(255, 195, 214) 30%, rgb(254, 223, 223) 35%, rgb(255, 195, 214) 40%, rgb(255, 158, 190) 45%, rgb(250, 111, 155) 50%, rgb(250, 111, 155) 55%, rgb(250, 111, 155) 60%, rgb(250, 111, 155) 65%, rgb(250, 111, 155) 70%, rgb(250, 111, 155) 75%, rgb(250, 111, 155) 80%, rgb(250, 111, 155) 85%, rgb(250, 111, 155) 90%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 100%);
  }
  37% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(250, 111, 155) 10%, rgb(250, 111, 155) 15%, rgb(250, 111, 155) 20%, rgb(250, 111, 155) 25%, rgb(255, 158, 190) 30%, rgb(255, 195, 214) 35%, rgb(254, 223, 223) 40%, rgb(255, 195, 214) 45%, rgb(255, 158, 190) 50%, rgb(250, 111, 155) 55%, rgb(250, 111, 155) 60%, rgb(250, 111, 155) 65%, rgb(250, 111, 155) 70%, rgb(250, 111, 155) 75%, rgb(250, 111, 155) 80%, rgb(250, 111, 155) 85%, rgb(250, 111, 155) 90%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 100%);
  }
  42% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(250, 111, 155) 10%, rgb(250, 111, 155) 15%, rgb(250, 111, 155) 20%, rgb(250, 111, 155) 25%, rgb(250, 111, 155) 30%, rgb(255, 158, 190) 35%, rgb(255, 195, 214) 40%, rgb(254, 223, 223) 45%, rgb(255, 195, 214) 50%, rgb(255, 158, 190) 55%, rgb(250, 111, 155) 60%, rgb(250, 111, 155) 65%, rgb(250, 111, 155) 70%, rgb(250, 111, 155) 75%, rgb(250, 111, 155) 80%, rgb(250, 111, 155) 85%, rgb(250, 111, 155) 90%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 100%);
  }
  47% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(250, 111, 155) 10%, rgb(250, 111, 155) 15%, rgb(250, 111, 155) 20%, rgb(250, 111, 155) 25%, rgb(250, 111, 155) 30%, rgb(250, 111, 155) 35%, rgb(255, 158, 190) 40%, rgb(255, 195, 214) 45%, rgb(254, 223, 223) 50%, rgb(255, 195, 214) 55%, rgb(255, 158, 190) 60%, rgb(250, 111, 155) 65%, rgb(250, 111, 155) 70%, rgb(250, 111, 155) 75%, rgb(250, 111, 155) 80%, rgb(250, 111, 155) 85%, rgb(250, 111, 155) 90%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 100%);
  }
  52% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(250, 111, 155) 10%, rgb(250, 111, 155) 15%, rgb(250, 111, 155) 20%, rgb(250, 111, 155) 25%, rgb(250, 111, 155) 30%, rgb(250, 111, 155) 35%, rgb(250, 111, 155) 40%, rgb(255, 158, 190) 45%, rgb(255, 195, 214) 50%, rgb(254, 223, 223) 55%, rgb(255, 195, 214) 60%, rgb(255, 158, 190) 65%, rgb(250, 111, 155) 70%, rgb(250, 111, 155) 75%, rgb(250, 111, 155) 80%, rgb(250, 111, 155) 85%, rgb(250, 111, 155) 90%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 100%);
  }
  57% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(250, 111, 155) 10%, rgb(250, 111, 155) 15%, rgb(250, 111, 155) 20%, rgb(250, 111, 155) 25%, rgb(250, 111, 155) 30%, rgb(250, 111, 155) 35%, rgb(250, 111, 155) 40%, rgb(250, 111, 155) 45%, rgb(255, 158, 190) 50%, rgb(255, 195, 214) 55%, rgb(254, 223, 223) 60%, rgb(255, 195, 214) 65%, rgb(255, 158, 190) 70%, rgb(250, 111, 155) 75%, rgb(250, 111, 155) 80%, rgb(250, 111, 155) 85%, rgb(250, 111, 155) 90%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 100%);
  }
  62% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(250, 111, 155) 10%, rgb(250, 111, 155) 15%, rgb(250, 111, 155) 20%, rgb(250, 111, 155) 25%, rgb(250, 111, 155) 30%, rgb(250, 111, 155) 35%, rgb(250, 111, 155) 40%, rgb(250, 111, 155) 45%, rgb(250, 111, 155) 50%, rgb(255, 158, 190) 55%, rgb(255, 195, 214) 60%, rgb(254, 223, 223) 65%, rgb(255, 195, 214) 70%, rgb(255, 158, 190) 75%, rgb(250, 111, 155) 80%, rgb(250, 111, 155) 85%, rgb(250, 111, 155) 90%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 100%);
  }
  67% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(250, 111, 155) 10%, rgb(250, 111, 155) 15%, rgb(250, 111, 155) 20%, rgb(250, 111, 155) 25%, rgb(250, 111, 155) 30%, rgb(250, 111, 155) 35%, rgb(250, 111, 155) 40%, rgb(250, 111, 155) 45%, rgb(250, 111, 155) 50%, rgb(250, 111, 155) 55%, rgb(255, 158, 190) 60%, rgb(255, 195, 214) 65%, rgb(254, 223, 223) 70%, rgb(255, 195, 214) 75%, rgb(255, 158, 190) 80%, rgb(250, 111, 155) 85%, rgb(250, 111, 155) 90%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 100%);
  }
  72% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(250, 111, 155) 10%, rgb(250, 111, 155) 15%, rgb(250, 111, 155) 20%, rgb(250, 111, 155) 25%, rgb(250, 111, 155) 30%, rgb(250, 111, 155) 35%, rgb(250, 111, 155) 40%, rgb(250, 111, 155) 45%, rgb(250, 111, 155) 50%, rgb(250, 111, 155) 55%, rgb(250, 111, 155) 60%, rgb(255, 158, 190) 65%, rgb(255, 195, 214) 70%, rgb(254, 223, 223) 75%, rgb(255, 195, 214) 80%, rgb(255, 158, 190) 85%, rgb(250, 111, 155) 90%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 100%);
  }
  77% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(250, 111, 155) 10%, rgb(250, 111, 155) 15%, rgb(250, 111, 155) 20%, rgb(250, 111, 155) 25%, rgb(250, 111, 155) 30%, rgb(250, 111, 155) 35%, rgb(250, 111, 155) 40%, rgb(250, 111, 155) 45%, rgb(250, 111, 155) 50%, rgb(250, 111, 155) 55%, rgb(250, 111, 155) 60%, rgb(250, 111, 155) 65%, rgb(255, 158, 190) 70%, rgb(255, 195, 214) 75%, rgb(254, 223, 223) 80%, rgb(255, 195, 214) 85%, rgb(255, 158, 190) 90%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 100%);
  }
  82% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(250, 111, 155) 10%, rgb(250, 111, 155) 15%, rgb(250, 111, 155) 20%, rgb(250, 111, 155) 25%, rgb(250, 111, 155) 30%, rgb(250, 111, 155) 35%, rgb(250, 111, 155) 40%, rgb(250, 111, 155) 45%, rgb(250, 111, 155) 50%, rgb(250, 111, 155) 55%, rgb(250, 111, 155) 60%, rgb(250, 111, 155) 65%, rgb(250, 111, 155) 70%, rgb(255, 158, 190) 75%, rgb(255, 195, 214) 80%, rgb(254, 223, 223) 85%, rgb(255, 195, 214) 90%, rgb(255, 158, 190) 95%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 100%);
  }
  87% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(250, 111, 155) 10%, rgb(250, 111, 155) 15%, rgb(250, 111, 155) 20%, rgb(250, 111, 155) 25%, rgb(250, 111, 155) 30%, rgb(250, 111, 155) 35%, rgb(250, 111, 155) 40%, rgb(250, 111, 155) 45%, rgb(250, 111, 155) 50%, rgb(250, 111, 155) 55%, rgb(250, 111, 155) 60%, rgb(250, 111, 155) 65%, rgb(250, 111, 155) 70%, rgb(250, 111, 155) 75%, rgb(255, 158, 190) 80%, rgb(255, 195, 214) 85%, rgb(254, 223, 223) 90%, rgb(255, 195, 214) 95%, rgb(255, 158, 190) 95%, rgb(250, 111, 155) 100%);
  }
  92% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(250, 111, 155) 10%, rgb(250, 111, 155) 15%, rgb(250, 111, 155) 20%, rgb(250, 111, 155) 25%, rgb(250, 111, 155) 30%, rgb(250, 111, 155) 35%, rgb(250, 111, 155) 40%, rgb(250, 111, 155) 45%, rgb(250, 111, 155) 50%, rgb(250, 111, 155) 55%, rgb(250, 111, 155) 60%, rgb(250, 111, 155) 65%, rgb(250, 111, 155) 70%, rgb(250, 111, 155) 75%, rgb(250, 111, 155) 80%, rgb(255, 158, 190) 85%, rgb(255, 195, 214) 90%, rgb(254, 223, 223) 95%, rgb(255, 195, 214) 95%, rgb(255, 158, 190) 100%);
  }
  97% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(250, 111, 155) 10%, rgb(250, 111, 155) 15%, rgb(250, 111, 155) 20%, rgb(250, 111, 155) 25%, rgb(250, 111, 155) 30%, rgb(250, 111, 155) 35%, rgb(250, 111, 155) 40%, rgb(250, 111, 155) 45%, rgb(250, 111, 155) 50%, rgb(250, 111, 155) 55%, rgb(250, 111, 155) 60%, rgb(250, 111, 155) 65%, rgb(250, 111, 155) 70%, rgb(250, 111, 155) 75%, rgb(250, 111, 155) 80%, rgb(250, 111, 155) 85%, rgb(255, 158, 190) 90%, rgb(255, 195, 214) 95%, rgb(254, 223, 223) 95%, rgb(255, 195, 214) 100%);
  }
  99% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(250, 111, 155) 10%, rgb(250, 111, 155) 15%, rgb(250, 111, 155) 20%, rgb(250, 111, 155) 25%, rgb(250, 111, 155) 30%, rgb(250, 111, 155) 35%, rgb(250, 111, 155) 40%, rgb(250, 111, 155) 45%, rgb(250, 111, 155) 50%, rgb(250, 111, 155) 55%, rgb(250, 111, 155) 60%, rgb(250, 111, 155) 65%, rgb(250, 111, 155) 70%, rgb(250, 111, 155) 75%, rgb(250, 111, 155) 80%, rgb(250, 111, 155) 85%, rgb(250, 111, 155) 90%, rgb(255, 158, 190) 95%, rgb(255, 195, 214) 95%, rgb(254, 223, 223) 100%);
  }
  100% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(250, 111, 155) 10%, rgb(250, 111, 155) 15%, rgb(250, 111, 155) 20%, rgb(250, 111, 155) 25%, rgb(250, 111, 155) 30%, rgb(250, 111, 155) 35%, rgb(250, 111, 155) 40%, rgb(250, 111, 155) 45%, rgb(250, 111, 155) 50%, rgb(250, 111, 155) 55%, rgb(250, 111, 155) 60%, rgb(250, 111, 155) 65%, rgb(250, 111, 155) 70%, rgb(250, 111, 155) 75%, rgb(250, 111, 155) 80%, rgb(250, 111, 155) 85%, rgb(250, 111, 155) 90%, rgb(250, 111, 155) 95%, rgb(255, 195, 214) 95%, rgb(254, 223, 223) 100%);
  }
}

@keyframes fondo_h_f {
  0% {
    background: linear-gradient(122deg, rgb(254, 223, 223) 0%, rgb(255, 195, 214) 5%, rgb(255, 158, 190) 10%, rgb(250, 111, 155) 15%, rgb(250, 111, 155) 20%, rgb(250, 111, 155) 25%, rgb(250, 111, 155) 30%, rgb(250, 111, 155) 35%, rgb(250, 111, 155) 40%, rgb(250, 111, 155) 45%, rgb(250, 111, 155) 50%, rgb(250, 111, 155) 55%, rgb(250, 111, 155) 60%, rgb(250, 111, 155) 65%, rgb(250, 111, 155) 70%, rgb(250, 111, 155) 75%, rgb(250, 111, 155) 80%, rgb(250, 111, 155) 85%, rgb(250, 111, 155) 90%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 100%);
  }
  2% {
    background: linear-gradient(122deg, rgb(255, 195, 214) 0%, rgb(254, 223, 223) 5%, rgb(255, 195, 214) 10%, rgb(255, 158, 190) 15%, rgb(250, 111, 155) 20%, rgb(250, 111, 155) 25%, rgb(250, 111, 155) 30%, rgb(250, 111, 155) 35%, rgb(250, 111, 155) 40%, rgb(250, 111, 155) 45%, rgb(250, 111, 155) 50%, rgb(250, 111, 155) 55%, rgb(250, 111, 155) 60%, rgb(250, 111, 155) 65%, rgb(250, 111, 155) 70%, rgb(250, 111, 155) 75%, rgb(250, 111, 155) 80%, rgb(250, 111, 155) 85%, rgb(250, 111, 155) 90%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 100%);
  }
  7% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(255, 195, 214) 5%, rgb(254, 223, 223) 10%, rgb(255, 195, 214) 15%, rgb(255, 158, 190) 20%, rgb(250, 111, 155) 25%, rgb(250, 111, 155) 30%, rgb(250, 111, 155) 35%, rgb(250, 111, 155) 40%, rgb(250, 111, 155) 45%, rgb(250, 111, 155) 50%, rgb(250, 111, 155) 55%, rgb(250, 111, 155) 60%, rgb(250, 111, 155) 65%, rgb(250, 111, 155) 70%, rgb(250, 111, 155) 75%, rgb(250, 111, 155) 80%, rgb(250, 111, 155) 85%, rgb(250, 111, 155) 90%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 100%);
  }
  12% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(255, 158, 190) 5%, rgb(255, 195, 214) 10%, rgb(254, 223, 223) 15%, rgb(255, 195, 214) 20%, rgb(255, 158, 190) 25%, rgb(250, 111, 155) 30%, rgb(250, 111, 155) 35%, rgb(250, 111, 155) 40%, rgb(250, 111, 155) 45%, rgb(250, 111, 155) 50%, rgb(250, 111, 155) 55%, rgb(250, 111, 155) 60%, rgb(250, 111, 155) 65%, rgb(250, 111, 155) 70%, rgb(250, 111, 155) 75%, rgb(250, 111, 155) 80%, rgb(250, 111, 155) 85%, rgb(250, 111, 155) 90%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 100%);
  }
  17% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(255, 158, 190) 10%, rgb(255, 195, 214) 15%, rgb(254, 223, 223) 20%, rgb(255, 195, 214) 25%, rgb(255, 158, 190) 30%, rgb(250, 111, 155) 35%, rgb(250, 111, 155) 40%, rgb(250, 111, 155) 45%, rgb(250, 111, 155) 50%, rgb(250, 111, 155) 55%, rgb(250, 111, 155) 60%, rgb(250, 111, 155) 65%, rgb(250, 111, 155) 70%, rgb(250, 111, 155) 75%, rgb(250, 111, 155) 80%, rgb(250, 111, 155) 85%, rgb(250, 111, 155) 90%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 100%);
  }
  22% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(250, 111, 155) 10%, rgb(255, 158, 190) 15%, rgb(255, 195, 214) 20%, rgb(254, 223, 223) 25%, rgb(255, 195, 214) 30%, rgb(255, 158, 190) 35%, rgb(250, 111, 155) 40%, rgb(250, 111, 155) 45%, rgb(250, 111, 155) 50%, rgb(250, 111, 155) 55%, rgb(250, 111, 155) 60%, rgb(250, 111, 155) 65%, rgb(250, 111, 155) 70%, rgb(250, 111, 155) 75%, rgb(250, 111, 155) 80%, rgb(250, 111, 155) 85%, rgb(250, 111, 155) 90%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 100%);
  }
  27% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(250, 111, 155) 10%, rgb(250, 111, 155) 15%, rgb(255, 158, 190) 20%, rgb(255, 195, 214) 25%, rgb(254, 223, 223) 30%, rgb(255, 195, 214) 35%, rgb(255, 158, 190) 40%, rgb(250, 111, 155) 45%, rgb(250, 111, 155) 50%, rgb(250, 111, 155) 55%, rgb(250, 111, 155) 60%, rgb(250, 111, 155) 65%, rgb(250, 111, 155) 70%, rgb(250, 111, 155) 75%, rgb(250, 111, 155) 80%, rgb(250, 111, 155) 85%, rgb(250, 111, 155) 90%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 100%);
  }
  32% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(250, 111, 155) 10%, rgb(250, 111, 155) 15%, rgb(250, 111, 155) 20%, rgb(255, 158, 190) 25%, rgb(255, 195, 214) 30%, rgb(254, 223, 223) 35%, rgb(255, 195, 214) 40%, rgb(255, 158, 190) 45%, rgb(250, 111, 155) 50%, rgb(250, 111, 155) 55%, rgb(250, 111, 155) 60%, rgb(250, 111, 155) 65%, rgb(250, 111, 155) 70%, rgb(250, 111, 155) 75%, rgb(250, 111, 155) 80%, rgb(250, 111, 155) 85%, rgb(250, 111, 155) 90%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 100%);
  }
  37% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(250, 111, 155) 10%, rgb(250, 111, 155) 15%, rgb(250, 111, 155) 20%, rgb(250, 111, 155) 25%, rgb(255, 158, 190) 30%, rgb(255, 195, 214) 35%, rgb(254, 223, 223) 40%, rgb(255, 195, 214) 45%, rgb(255, 158, 190) 50%, rgb(250, 111, 155) 55%, rgb(250, 111, 155) 60%, rgb(250, 111, 155) 65%, rgb(250, 111, 155) 70%, rgb(250, 111, 155) 75%, rgb(250, 111, 155) 80%, rgb(250, 111, 155) 85%, rgb(250, 111, 155) 90%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 100%);
  }
  42% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(250, 111, 155) 10%, rgb(250, 111, 155) 15%, rgb(250, 111, 155) 20%, rgb(250, 111, 155) 25%, rgb(250, 111, 155) 30%, rgb(255, 158, 190) 35%, rgb(255, 195, 214) 40%, rgb(254, 223, 223) 45%, rgb(255, 195, 214) 50%, rgb(255, 158, 190) 55%, rgb(250, 111, 155) 60%, rgb(250, 111, 155) 65%, rgb(250, 111, 155) 70%, rgb(250, 111, 155) 75%, rgb(250, 111, 155) 80%, rgb(250, 111, 155) 85%, rgb(250, 111, 155) 90%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 100%);
  }
  47% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(250, 111, 155) 10%, rgb(250, 111, 155) 15%, rgb(250, 111, 155) 20%, rgb(250, 111, 155) 25%, rgb(250, 111, 155) 30%, rgb(250, 111, 155) 35%, rgb(255, 158, 190) 40%, rgb(255, 195, 214) 45%, rgb(254, 223, 223) 50%, rgb(255, 195, 214) 55%, rgb(255, 158, 190) 60%, rgb(250, 111, 155) 65%, rgb(250, 111, 155) 70%, rgb(250, 111, 155) 75%, rgb(250, 111, 155) 80%, rgb(250, 111, 155) 85%, rgb(250, 111, 155) 90%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 100%);
  }
  52% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(250, 111, 155) 10%, rgb(250, 111, 155) 15%, rgb(250, 111, 155) 20%, rgb(250, 111, 155) 25%, rgb(250, 111, 155) 30%, rgb(250, 111, 155) 35%, rgb(250, 111, 155) 40%, rgb(255, 158, 190) 45%, rgb(255, 195, 214) 50%, rgb(254, 223, 223) 55%, rgb(255, 195, 214) 60%, rgb(255, 158, 190) 65%, rgb(250, 111, 155) 70%, rgb(250, 111, 155) 75%, rgb(250, 111, 155) 80%, rgb(250, 111, 155) 85%, rgb(250, 111, 155) 90%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 100%);
  }
  57% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(250, 111, 155) 10%, rgb(250, 111, 155) 15%, rgb(250, 111, 155) 20%, rgb(250, 111, 155) 25%, rgb(250, 111, 155) 30%, rgb(250, 111, 155) 35%, rgb(250, 111, 155) 40%, rgb(250, 111, 155) 45%, rgb(255, 158, 190) 50%, rgb(255, 195, 214) 55%, rgb(254, 223, 223) 60%, rgb(255, 195, 214) 65%, rgb(255, 158, 190) 70%, rgb(250, 111, 155) 75%, rgb(250, 111, 155) 80%, rgb(250, 111, 155) 85%, rgb(250, 111, 155) 90%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 100%);
  }
  62% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(250, 111, 155) 10%, rgb(250, 111, 155) 15%, rgb(250, 111, 155) 20%, rgb(250, 111, 155) 25%, rgb(250, 111, 155) 30%, rgb(250, 111, 155) 35%, rgb(250, 111, 155) 40%, rgb(250, 111, 155) 45%, rgb(250, 111, 155) 50%, rgb(255, 158, 190) 55%, rgb(255, 195, 214) 60%, rgb(254, 223, 223) 65%, rgb(255, 195, 214) 70%, rgb(255, 158, 190) 75%, rgb(250, 111, 155) 80%, rgb(250, 111, 155) 85%, rgb(250, 111, 155) 90%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 100%);
  }
  67% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(250, 111, 155) 10%, rgb(250, 111, 155) 15%, rgb(250, 111, 155) 20%, rgb(250, 111, 155) 25%, rgb(250, 111, 155) 30%, rgb(250, 111, 155) 35%, rgb(250, 111, 155) 40%, rgb(250, 111, 155) 45%, rgb(250, 111, 155) 50%, rgb(250, 111, 155) 55%, rgb(255, 158, 190) 60%, rgb(255, 195, 214) 65%, rgb(254, 223, 223) 70%, rgb(255, 195, 214) 75%, rgb(255, 158, 190) 80%, rgb(250, 111, 155) 85%, rgb(250, 111, 155) 90%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 100%);
  }
  72% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(250, 111, 155) 10%, rgb(250, 111, 155) 15%, rgb(250, 111, 155) 20%, rgb(250, 111, 155) 25%, rgb(250, 111, 155) 30%, rgb(250, 111, 155) 35%, rgb(250, 111, 155) 40%, rgb(250, 111, 155) 45%, rgb(250, 111, 155) 50%, rgb(250, 111, 155) 55%, rgb(250, 111, 155) 60%, rgb(255, 158, 190) 65%, rgb(255, 195, 214) 70%, rgb(254, 223, 223) 75%, rgb(255, 195, 214) 80%, rgb(255, 158, 190) 85%, rgb(250, 111, 155) 90%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 100%);
  }
  77% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(250, 111, 155) 10%, rgb(250, 111, 155) 15%, rgb(250, 111, 155) 20%, rgb(250, 111, 155) 25%, rgb(250, 111, 155) 30%, rgb(250, 111, 155) 35%, rgb(250, 111, 155) 40%, rgb(250, 111, 155) 45%, rgb(250, 111, 155) 50%, rgb(250, 111, 155) 55%, rgb(250, 111, 155) 60%, rgb(250, 111, 155) 65%, rgb(255, 158, 190) 70%, rgb(255, 195, 214) 75%, rgb(254, 223, 223) 80%, rgb(255, 195, 214) 85%, rgb(255, 158, 190) 90%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 100%);
  }
  82% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(250, 111, 155) 10%, rgb(250, 111, 155) 15%, rgb(250, 111, 155) 20%, rgb(250, 111, 155) 25%, rgb(250, 111, 155) 30%, rgb(250, 111, 155) 35%, rgb(250, 111, 155) 40%, rgb(250, 111, 155) 45%, rgb(250, 111, 155) 50%, rgb(250, 111, 155) 55%, rgb(250, 111, 155) 60%, rgb(250, 111, 155) 65%, rgb(250, 111, 155) 70%, rgb(255, 158, 190) 75%, rgb(255, 195, 214) 80%, rgb(254, 223, 223) 85%, rgb(255, 195, 214) 90%, rgb(255, 158, 190) 95%, rgb(250, 111, 155) 95%, rgb(250, 111, 155) 100%);
  }
  87% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(250, 111, 155) 10%, rgb(250, 111, 155) 15%, rgb(250, 111, 155) 20%, rgb(250, 111, 155) 25%, rgb(250, 111, 155) 30%, rgb(250, 111, 155) 35%, rgb(250, 111, 155) 40%, rgb(250, 111, 155) 45%, rgb(250, 111, 155) 50%, rgb(250, 111, 155) 55%, rgb(250, 111, 155) 60%, rgb(250, 111, 155) 65%, rgb(250, 111, 155) 70%, rgb(250, 111, 155) 75%, rgb(255, 158, 190) 80%, rgb(255, 195, 214) 85%, rgb(254, 223, 223) 90%, rgb(255, 195, 214) 95%, rgb(255, 158, 190) 95%, rgb(250, 111, 155) 100%);
  }
  92% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(250, 111, 155) 10%, rgb(250, 111, 155) 15%, rgb(250, 111, 155) 20%, rgb(250, 111, 155) 25%, rgb(250, 111, 155) 30%, rgb(250, 111, 155) 35%, rgb(250, 111, 155) 40%, rgb(250, 111, 155) 45%, rgb(250, 111, 155) 50%, rgb(250, 111, 155) 55%, rgb(250, 111, 155) 60%, rgb(250, 111, 155) 65%, rgb(250, 111, 155) 70%, rgb(250, 111, 155) 75%, rgb(250, 111, 155) 80%, rgb(255, 158, 190) 85%, rgb(255, 195, 214) 90%, rgb(254, 223, 223) 95%, rgb(255, 195, 214) 95%, rgb(255, 158, 190) 100%);
  }
  97% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(250, 111, 155) 10%, rgb(250, 111, 155) 15%, rgb(250, 111, 155) 20%, rgb(250, 111, 155) 25%, rgb(250, 111, 155) 30%, rgb(250, 111, 155) 35%, rgb(250, 111, 155) 40%, rgb(250, 111, 155) 45%, rgb(250, 111, 155) 50%, rgb(250, 111, 155) 55%, rgb(250, 111, 155) 60%, rgb(250, 111, 155) 65%, rgb(250, 111, 155) 70%, rgb(250, 111, 155) 75%, rgb(250, 111, 155) 80%, rgb(250, 111, 155) 85%, rgb(255, 158, 190) 90%, rgb(255, 195, 214) 95%, rgb(254, 223, 223) 95%, rgb(255, 195, 214) 100%);
  }
  99% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(250, 111, 155) 10%, rgb(250, 111, 155) 15%, rgb(250, 111, 155) 20%, rgb(250, 111, 155) 25%, rgb(250, 111, 155) 30%, rgb(250, 111, 155) 35%, rgb(250, 111, 155) 40%, rgb(250, 111, 155) 45%, rgb(250, 111, 155) 50%, rgb(250, 111, 155) 55%, rgb(250, 111, 155) 60%, rgb(250, 111, 155) 65%, rgb(250, 111, 155) 70%, rgb(250, 111, 155) 75%, rgb(250, 111, 155) 80%, rgb(250, 111, 155) 85%, rgb(250, 111, 155) 90%, rgb(255, 158, 190) 95%, rgb(255, 195, 214) 95%, rgb(254, 223, 223) 100%);
  }
  100% {
    background: linear-gradient(122deg, rgb(250, 111, 155) 0%, rgb(250, 111, 155) 5%, rgb(250, 111, 155) 10%, rgb(250, 111, 155) 15%, rgb(250, 111, 155) 20%, rgb(250, 111, 155) 25%, rgb(250, 111, 155) 30%, rgb(250, 111, 155) 35%, rgb(250, 111, 155) 40%, rgb(250, 111, 155) 45%, rgb(250, 111, 155) 50%, rgb(250, 111, 155) 55%, rgb(250, 111, 155) 60%, rgb(250, 111, 155) 65%, rgb(250, 111, 155) 70%, rgb(250, 111, 155) 75%, rgb(250, 111, 155) 80%, rgb(250, 111, 155) 85%, rgb(250, 111, 155) 90%, rgb(250, 111, 155) 95%, rgb(255, 195, 214) 95%, rgb(254, 223, 223) 100%);
  }
}
/*Inicio header*/
header {
  padding: 5px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fa6f9b;
  -webkit-animation-name: fondo_h_f;
          animation-name: fondo_h_f;
  -webkit-animation-duration: 2.2s;
          animation-duration: 2.2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  z-index: 10;
}
header li {
  margin: 5px;
}
header li a {
  padding: 5px 10px;
  font-size: 1rem;
  display: block;
  text-decoration: none;
  background-color: rgb(255, 62, 122);
  color: black;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid black;
}
header li a:hover {
  color: white;
  background-color: rgb(255, 0, 80);
}

/*Fin header*/
/*Inicio Footer*/
footer {
  padding: 5px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: #fa6f9b;
  -webkit-animation-name: fondo_h_f;
          animation-name: fondo_h_f;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
footer .divRedes {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "titulo titulo titulo" "instagram facebook twitter";
}
footer .divRedes .titulo {
  grid-area: titulo;
}
footer .divRedes .instagram {
  grid-area: instagram;
}
footer .divRedes .facebook {
  grid-area: facebook;
}
footer .divRedes .twitter {
  grid-area: twitter;
}
footer .divRedes a {
  text-decoration: none;
  color: black;
  background-color: rgb(255, 62, 122);
  border: 1px solid black;
  font-size: 1rem;
  border-radius: 50%;
  justify-self: center;
  line-height: 50px;
}
footer .divRedes a:hover {
  color: white;
  background-color: rgb(255, 0, 80);
}
footer .divCont {
  text-align: center;
}
footer .divCont p {
  text-decoration: underline;
}

/*Fin Footer*/
main .secCon form .selectContacto, main .secTurnos table .selecTurnos {
  background-color: rgb(255, 195, 214);
  font-size: 1rem;
  text-align: center;
}

@media (min-width: 0) {
  footer .divRedes a {
    width: 100px;
  }
}
@media (min-width: 480px) {
  footer .divRedes a {
    width: 120px;
  }
}
@media (min-width: 720px) {
  footer .divRedes a {
    width: 150px;
  }
}
@media (min-width: 960px) {
  footer .divRedes a {
    width: 180px;
  }
}
@media (min-width: 1200px) {
  footer .divRedes a {
    width: 200px;
  }
}

@media (min-width: 0) {
  main .secCon form {
    width: 90%;
  }
}
@media (min-width: 480px) {
  main .secCon form {
    width: 70%;
  }
}
@media (min-width: 720px) {
  main .secCon form {
    width: 60%;
  }
}
@media (min-width: 960px) {
  main .secCon form {
    width: 55%;
  }
}
@media (min-width: 1200px) {
  main .secCon form {
    width: 50%;
  }
}

@media (min-width: 0) {
  main .secJav {
    padding: 5px;
  }
}
@media (min-width: 480px) {
  main .secJav {
    padding: 10px;
  }
}
@media (min-width: 720px) {
  main .secJav {
    padding: 15px;
  }
}
@media (min-width: 960px) {
  main .secJav {
    padding: 20px;
  }
}
@media (min-width: 1200px) {
  main .secJav {
    padding: 25px;
  }
}

main .secInicio h2, main .titPrin {
  text-align: center;
  font-size: 2.5rem;
  color: white;
  text-shadow: 3px 3px 0px black, 2px 2px 0px black, 1px 1px 0px black;
  text-decoration: underline;
  letter-spacing: 1px;
}

@media (min-width: 0) {
  main .secInicio p {
    font-size: 1rem;
  }
}
@media (min-width: 480px) {
  main .secInicio p {
    font-size: 2rem;
  }
}
@media (min-width: 720px) {
  main .secInicio p {
    font-size: 1.8rem;
  }
}
@media (min-width: 960px) {
  main .secInicio p {
    font-size: 1.4rem;
  }
}
@media (min-width: 1200px) {
  main .secInicio p {
    font-size: 1.2rem;
  }
}

@media (min-width: 0) {
  main .secGal .divGal .foto {
    width: 90%;
  }
}
@media (min-width: 480px) {
  main .secGal .divGal .foto {
    width: 90%;
  }
}
@media (min-width: 720px) {
  main .secGal .divGal .foto {
    width: 85%;
  }
}
@media (min-width: 960px) {
  main .secGal .divGal .foto {
    width: 45%;
  }
}
@media (min-width: 1200px) {
  main .secGal .divGal .foto {
    width: 45%;
  }
}

main .secCon form input, main .secCon form textarea, main .secCon form select {
  background-color: rgb(255, 195, 214);
  text-align: center;
}

main .secCon form input:checked, main .secCon form textarea:checked, main .secCon form input:focus, main .secCon form textarea:focus {
  color: black;
  background-color: rgb(255, 195, 214);
}

body {
  font-family: "Fredoka", sans-serif;
  background-color: #fa6f9b;
}

.imgLogo {
  width: 150px;
}

.btnSub {
  color: black;
  background-color: rgb(255, 195, 214);
  text-transform: bold;
  font-size: 1rem;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 15px;
}
.btnSub:hover {
  color: white;
  transform: scale(1.1);
  background: rgb(250, 111, 155);
}

main {
  min-height: 90vh;
  background-image: url(https://f.vividscreen.info/soft/5fd8414f8b1962b432d5de9b502c2c71/Colorful-Nails-1920x1200.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
}
main .secInicio {
  padding: 0px 30px;
}
main .secInicio p {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  border-radius: 15px;
  padding: 15px;
}
main .secInicio p a {
  color: white;
}
@media (min-width: 480px) {
  main .secInicio h2 {
    color: pink;
  }
}
main .secInicio h5 {
  text-align: center;
}
main .secNosotros {
  padding: 0px 5%;
}
main .secNosotros h2 {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  width: 40%;
  border-radius: 15px;
}
main .secNosotros .divIframe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 15px;
}
main .secNosotros .divIframe iframe {
  max-width: 100%;
}
main .secNosotros .divMapa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 15px;
}
main .secNosotros .divMapa img {
  width: 60%;
}
main .secGal .divGal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
main .secGal .divGal .foto {
  height: 350px;
  overflow: hidden;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.678);
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main .secGal .divGal .foto img {
  height: 100%;
  border-radius: 25px;
  transition: all 500ms ease;
}
main .secGal .divGal .foto img:hover {
  transform: scale(1.05);
}
main .secTurnos {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
}
main .secTurnos h2, main .secTurnos p, main .secTurnos th {
  color: white;
  text-align: center;
}
main .secTurnos form {
  padding: 30px;
  text-align: center;
}
main .secTurnos table {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.9);
  margin: auto;
  width: 70%;
  padding: 15px;
  height: 15vh;
}
main .secTurnos table .selecTurnos {
  width: 40%;
}
main .secTurnos table .selecTurnos:hover {
  transform: scale(1.1);
}
main .secTurnos table tr {
  border-bottom: 1px solid white;
}
main .secCon form {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  padding: 10%;
  margin: auto;
}
main .secCon form select {
  width: 35%;
  margin: auto;
}
main .secCon form legend, main .secCon form label {
  color: white;
  margin: 3px 0px 3px 15px;
}
main .secCon form input, main .secCon form textarea {
  margin: 5px;
  resize: none;
  border-radius: 25px;
}
main .secCon form .selectContacto {
  color: black;
  border-radius: 20px;
  margin: 5px;
}
main .secCon form .selectContacto:hover {
  color: white;
  background-color: rgb(250, 111, 155);
  transform: scale(1.1);
}
main .secJav {
  background-color: rgba(0, 0, 0, 0.8);
}
main .secJav .listaProductos {
  flex-wrap: wrap;
}
main .secJav .imgCards {
  max-height: 190px;
}
main .secJav .pPrecio {
  display: inline;
}
main .tituloJava {
  color: white;
  text-align: center;
}
main label {
  color: white;
}
main .filaTabla {
  margin-top: 20px;
  padding: 20px;
}/*# sourceMappingURL=estilos.css.map */